[Unit]
Description=run
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/python3 /root/run.py
Restart=always

[Install]
WantedBy=multi-user.target
